


/* root */



@font-face{font-weight: 400; font-family: 'Room205'; src: url('../woff/room205/room205-400.woff') format('woff');}
@font-face{font-weight: 300; font-family: 'Graphik'; src: url('../woff/graphik/graphik-300.woff') format('woff');}
@font-face{font-weight: 400; font-family: 'Graphik'; src: url('../woff/graphik/graphik-400.woff') format('woff');}
@font-face{font-weight: 500; font-family: 'Graphik'; src: url('../woff/graphik/graphik-500.woff') format('woff');}
@font-face{font-weight: 600; font-family: 'Graphik'; src: url('../woff/graphik/graphik-600.woff') format('woff');}
@font-face{font-weight: 700; font-family: 'Graphik'; src: url('../woff/graphik/graphik-700.woff') format('woff');}
@font-face{font-weight: 800; font-family: 'Graphik'; src: url('../woff/graphik/graphik-800.woff') format('woff');}
@font-face{font-weight: 400; font-family: 'Baskerville'; src: url('../woff/baskerville/baskerville-400-italic.woff') format('woff'); font-style: italic;}
:root{--black: #111111; --red: #fe003e; --red-dark: #d60034; --yellow: #fff366; --grey: #f4f2f0; --gold: #d4af37;}



/* scrollbar */



body::-webkit-scrollbar{width: 10px; height: 10px;}
body::-webkit-scrollbar-track{-webkit-box-shadow: none; background: #ccc; -webkit-border-radius: 0; border-radius: 0;}
body::-webkit-scrollbar-thumb{-webkit-box-shadow: none; background: #000; -webkit-border-radius: 0; border-radius: 0;}
body::-webkit-scrollbar-thumb:active{background: #000;}
body::-webkit-scrollbar-thumb:window-inactive{background: #000;}
body::-moz-scrollbar{width: 10px; height: 10px;}
body::-moz-scrollbar-track{-webkit-box-shadow: none; background: #ccc; -webkit-border-radius: 0; border-radius: 0;}
body::-moz-scrollbar-thumb{-webkit-box-shadow: none; background: #000; -webkit-border-radius: 0; border-radius: 0;}
body::-moz-scrollbar-thumb:active{background: #000;}
body::-moz-scrollbar-thumb:window-inactive{background: #000;}



/* core */



*{-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
html,body{min-height: 100%; margin: 0; padding: 0;}
body{font-family: 'Graphik', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.4em; color: var(--black);}
a{text-decoration: none; cursor: pointer; color: inherit;}
a:focus{outline: none;}
form{margin: 0; padding: 0;}
input{-webkit-appearance: none;}
input:focus{outline: none;}
ul{list-style: none;}
ul,ol{margin: 1.5em 0;}
img{display: block; max-width: 100%; height: auto;}
@media only screen and (max-width:1200px){
body{font-size: 15px;}
}
@media only screen and (max-width: 900px){
body{font-size: 14px;}
}
@media only screen and (max-width: 600px){
body{font-size: 13px;}
}



/* adminimal adjustment */



body.adminimal-menu:before{height: 28px !important;}
body.adminimal-menu #admin-menu{height: 28px !important; border-bottom: none !important;}
body.adminimal-menu #admin-menu .dropdown li ul{border-top: none !important;}



/* font use */



h1{margin: 2.0rem 0; font-family: 'Room205', serif; font-size: 4.0em; line-height: 1.0em; font-weight: 400; overflow-wrap: break-word;}
h2{margin: 2.0rem 0; font-family: 'Room205', serif; font-size: 3.0em; line-height: 1.2em; font-weight: 400;}
h3{margin: 1.4rem 0; font-size: 2.0em; font-weight: 500; line-height: 1.4em; color: var(--red);}
h4{margin: 1.2rem 0; font-size: 1.4em; font-weight: 500; line-height: 1.4em;}
h1 sup,h2 sup,h3 sup,h4 sup{font-family: 'Graphik', sans-serif; font-size: 0.6em; font-weight: 500; font-style: italic; color: var(--red);}
p{max-width: 800px; margin: 1.6rem 0; font-size: 1.2em; line-height: 1.4em;}
p a{color: #666; text-decoration: underline;}
p a:hover{color: inherit;}
p em{font-family: 'Baskerville', serif;}
p strong{font-weight: 600;}
a.a-btn{display: inline-block; margin: 1rem 0.6rem 1rem 0; padding: 16px 24px 14px 24px; background: var(--black) !important; -webkit-border-radius: 100px; border-radius: 100px; font-size: 1.1em; line-height: 1.2em; color: #fff; text-decoration: none;}
a.a-btn:hover{color: #fff; text-decoration: underline;}
blockquote{margin-left: 0; padding-left: 1.2em; border-left: 1px solid #444;}
blockquote p{font-family: 'Baskerville', serif; font-style: italic;}
@media only screen and (max-width:1200px){
h1{font-size: 3.6em;}
h2{font-size: 2.8em;}
h3{font-size: 1.9em;}
}
@media only screen and (max-width: 900px){
h1{font-size: 3.2em;}
h2{font-size: 2.6em;}
h3{font-size: 1.8em;}
}
@media only screen and (max-width: 600px){
h1{font-size: 2.8em;}
h2{font-size: 2.4em;}
h3{font-size: 1.7em;}
}



/* base layers/menus */



.omni{z-index: 100; position: relative;}
.omni-icon{z-index: 200; position: fixed; top: 20px; left: 30px; width: 50px; height: 100px;}
.omni-icon>a{display: block; width: 100%; height: 100%; background-image: url(../icon/brand.png); background-repeat: no-repeat; background-position: center center; background-size: contain;}
.omni-menu{z-index: 400; position: fixed; top: 0; left: 0; right: 0; display: none; padding: 20px; overflow: hidden; pointer-events: none;}
.omni-menu>a{position: relative; display: inline-table; float: left; height: 40px; background-color: var(--red-dark); -webkit-border-radius: 100px; border-radius: 100px; pointer-events: all; -webkit-transition: opacity 120ms ease 300ms; transition: opacity 120ms ease 300ms; opacity: 1; font-size: 1.1em; line-height: 1.0em; font-weight: 500; color: #fff;}
.omni-menu a>div{display: table-cell; padding: 0 40px 0 20px; vertical-align: middle;}
.omni-menu a:before,.omni-menu a:after{content: ''; position: absolute; top: 50%; right: 20px; display: block; width: 14px; height: 2px; margin-top: -1px; background: #fff; -webkit-transition: transform 120ms ease; transition: transform 120ms ease;}
.omni-menu a.on{background: var(--black);}
.omni-menu a.on:before{-webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.omni-menu a.on:after{-webkit-transform: rotate(45deg); transform: rotate(45deg);}
.omni-menu a#btn-nav{float: right;}
.omni-menu a#btn-map:not(.on){background-image: url(../icon/route-w.svg); background-repeat: no-repeat; background-size: 14px auto; background-position: left 18px center;}
.omni-menu a#btn-map>div{padding: 0 20px 0 40px;}
.omni-menu a#btn-map:before,.omni-menu a#btn-map:after{left: 20px; right: auto; opacity: 0;}
.omni-menu a#btn-map.on:before,.omni-menu a#btn-map.on:after{opacity: 1;}
.logged-in .omni-icon{top: 48px;}
.logged-in .omni-menu{top: 28px;}
@media only screen and (max-width:1200px){
.omni-icon{display: none;}
}
@media only screen and (max-width: 900px){
.omni-menu{display: block;}
}



/* header bar */



.header-bar{z-index: 40; position: relative; background: var(--red); -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px;}
.header-bar .inner{max-width: 1600px; min-height: 140px; margin: 0 auto; padding: 20px 30px 20px 100px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: center; align-items: center;}
.header-bar .inner .name{padding-right: 48px;}
.header-bar .inner .name>a{display: block; padding-top: 4px; font-family: 'Room205', serif; font-size: 2.4em; line-height: 1.0em; color: var(--black); text-decoration: none;}
.header-bar .inner .menu{-webkit-flex: 1; flex: 1; display: table;}
.header-bar .inner .menu>div{display: table-cell; vertical-align: middle;}
.header-bar .outer{position: absolute; left: 0; bottom: -20px; width: 20px; height: 20px; overflow: hidden;}
.header-bar .outer:before{position: absolute; top: 0; left: 0; content: ''; width: 40px; height: 40px; -webkit-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0px 0px 0px 20px var(--red); box-shadow: 0px 0px 0px 20px var(--red);}
.header-bar ul{margin: 0; padding: 0; list-style: none; overflow: hidden;}
.header-bar ul>li{display: inline-block; float: left;}
.header-bar ul>li>a{display: block;}
.header-bar ul#menu-lang{display: table; margin-left: auto;}
.header-bar ul#menu-lang>li{padding: 0 10px; border-right: 1px solid rgba(255,255,255,0.5);}
.header-bar ul#menu-lang>li:last-child{padding-right: 0; border: none;}
.header-bar ul#menu-lang>li>a{padding-top: 2px; font-size: 1.0em; line-height: 1.2em; font-weight: 500; color: var(--black);}
.header-bar ul#menu-lang>li.on>a{padding-left: 20px; background-image: url(../icon/tick-w.svg); background-repeat: no-repeat; background-position: left center; background-size: 14px auto; color: #fff;}
.header-bar ul#menu-lang>li>a:hover{text-decoration: underline;}
.header-bar ul#menu-lang>li>a>span{display: block;}
.header-bar ul#menu-lang>li>a>span:nth-child(2){display: none;}
.header-bar ul#menu-main>li{position: relative;}
.header-bar ul#menu-main>li:before,.header-bar ul#menu-main>li:last-child:after{position: absolute; top: 10%; left: 0; content: ''; display: block; width: 1px; height: 80%; background: rgba(0,0,0,0.5);}
.header-bar ul#menu-main>li:last-child:after{left: auto; right: 0;}
.header-bar ul#menu-main>li>a{padding: 0 18px 0 16px; font-size: 1.5em; line-height: 1.0em; font-weight: 500; color: var(--black); text-decoration: none;}
.header-bar ul#menu-main>li>a>span{position: relative; display: block; padding: 1px 0; overflow: hidden;}
.header-bar ul#menu-main>li>a>span:before{position: absolute; left: 0; bottom: 0; content: ''; display: block; width: 100%; height: 0.1em; background: var(--black); opacity: 0; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); -webkit-transition: opacity 200ms ease, transform 200ms ease; transition: opacity 200ms ease, transform 200ms ease;}
.header-bar ul#menu-main>li.on>a>span:before,.header-bar ul#menu-main>li>a:hover>span:before{opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
@media only screen and (max-width:1200px){
.header-bar .inner{min-height: 0; padding: 20px;}
.header-bar .inner .name>a{font-size: 2.0em;}
.header-bar ul#menu-lang>li>a>span{display: none;}
.header-bar ul#menu-lang>li>a>span:nth-child(2){display: block;}
}
@media only screen and (max-width: 900px){
.header-bar{padding-top: 60px;}
.header-bar ul#menu-main{display: none;}
}



/* menu overlay */



.overlay-nav-inner{width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;}
.overlay-nav-inner::-webkit-scrollbar{width: 0px; background: transparent;}
.overlay-nav-inner::-moz-scrollbar{width: 0px; background: transparent;}
.overlay-nav-inner>div{display: table; width: 100%; max-width: 600px; height: 100%; margin: 0 auto;}
.overlay-nav-inner>div>div{display: table-cell; vertical-align: middle; padding: 20px; padding-bottom: 40px;}
.overlay-nav-inner div.brand-icon{display: block; width: 60px; height: 120px; margin: 10px auto; background-image: url(../icon/brand.png); background-repeat: no-repeat; background-position: center center; background-size: contain;}
.overlay-nav-inner div.brand-name{margin-bottom: 20px; font-family: 'Room205', serif; font-size: 2.6em; line-height: 1.0em; text-align: center;}
.overlay-nav-inner ul{margin: 0; padding: 0; list-style: none;}
.overlay-nav-inner ul>li{display: block;}
.overlay-nav-inner ul>li>a{display: block; padding: 10px 0 8px 0; border-bottom: 0.1em solid var(--black); font-size: 1.6em; line-height: 1.0em; font-weight: 500; color: var(--black);}
.overlay-nav-inner ul>li:first-child>a{border-top: 0.1em solid var(--black);}
.overlay-nav-inner ul>li.on>a{color: #fff;}



/* map overlay */



.overlay-map .map-container{z-index: 2; position: relative; width: 100%; height: 100%;}
.overlay-map .map-container>div{position: relative; width: 100%; height: 100%;}
.overlay-map .map-container>div .map{z-index: 2; position: relative;}
.overlay-map .map-container>div .geo-user{z-index: 4; position: absolute; top: 80px; left: 20px;}
.overlay-map .map-container>div .geo-user-btn{background-color: #fff; background-image: url(../icon/gps.svg); color: var(--black);}
.logged-in .overlay-map .map-container>div .geo-user{top: 108px;}
.logged-in .overlay-map .map .leaflet-top .leaflet-control{margin-top: 48px;}



/* bottom bar */



.bottom-bar{padding: 4rem 0; background: var(--red);}
.bottom-bar .bottom-brand{display: table; min-height: 90px; background-image: url(../icon/brand.png); background-repeat: no-repeat; background-position: left center; background-size: auto 90px;}
.bottom-bar .bottom-brand>div{display: table-cell; vertical-align: middle; padding: 2px 0 0 60px; font-family: 'Room205', serif; font-size: 2.2em; line-height: 1.0em;}
.bottom-bar .credit{display: block; font-size: 0.8em;}
.bottom-bar-inner{display: table; width: 100%;}
.bottom-bar-inner>div{display: table-cell; vertical-align: middle;}
.user-login-button{display: table; margin: 0 0 0 auto; padding: 10px 10px 8px 24px; background-image: url(../icon/lock.svg); background-repeat: no-repeat; background-position: left center; background-size: 16px auto; font-weight: 500;}
.user-login-button:hover{text-decoration: underline;}
.logo-bar{margin: 20px 0; padding-top: 20px; border-top: 1px solid var(--black); overflow: hidden;}
.logo-bar .logo{display: inline-block; float: left; height: 90px; margin: 8px 24px 8px 0;}
.logo-bar .logo>a{display: block; height: 100%;}
.logo-bar .logo>a>img{width: auto; height: 100%;}
@media only screen and (max-width: 900px){
.logo-bar .logo{height: 60px;}
}
@media only screen and (max-width: 600px){
.bottom-bar-inner,.bottom-bar-inner>div{display: block;}
.user-login-button{margin-top: 20px; margin-left: 0;}
}



/* overlays */



.overlay{z-index: 300; position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100vh; pointer-events: none; -webkit-transition: opacity 0s linear 600ms; transition: opacity 0s linear 600ms; opacity: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-overflow-scrolling: touch; overscroll-behavior: contain;}
.overlay.overlay-map{z-index: 310;}
.overlay.overlay-nav{z-index: 320;}
.overlay.overlay-pop{z-index: 330; display: block;}
.overlay>div{position: relative; width: 100%; height: 100%; background: var(--red); -webkit-clip-path: circle(0% at 50% 50%); clip-path: circle(0% at 50% 50%); -webkit-transition: clip-path 600ms; transition: clip-path 600ms;}
.overlay>div:before{z-index: 4; position: absolute; top: 0; left: 0; content: ''; display: block; width: 100%; height: 100%; background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 100%); pointer-events: none; -webkit-transition: opacity 600ms ease; transition: opacity 600ms ease;}
.overlay-map-on .overlay-map,.overlay-nav-on .overlay-nav,.overlay-pop-on .overlay-pop{pointer-events: all; -webkit-transition: opacity 0s linear; transition: opacity 0s linear; opacity: 1;}
.overlay-map-on .overlay-map>div,.overlay-nav-on .overlay-nav>div,.overlay-pop-on .overlay-pop>div{-webkit-clip-path: circle(75% at 50% 50%); clip-path: circle(75% at 50% 50%);}
.overlay-map-on .overlay-map>div:before,.overlay-nav-on .overlay-nav>div:before,.overlay-pop-on .overlay-pop>div:before{opacity: 0;}
.overlay-map-on a#btn-nav,.overlay-nav-on a#btn-map,.overlay-pop-on a#btn-nav,.overlay-pop-on a#btn-map{-webkit-transition: opacity 120ms ease; transition: opacity 120ms ease; opacity: 0; pointer-events: none;}
@media only screen and (max-width: 900px){
.overlay{display: block;}
}



/* swiper */



.swiper{margin: 4rem 0;}
.swiper-wrapper .swiper-slide{display: inline-block; width: 20%; margin-right: 30px; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden;}
.swiper-wrapper .swiper-slide:last-child{margin-right: 0;}
.swiper-btn{display: inline-block; width: 40px; height: 40px; margin-left: 8px; background-color: var(--black); background-image: url(../icon/arrow-w.svg); background-repeat: no-repeat; background-position: center center; background-size: 60% auto; -webkit-border-radius: 50%; border-radius: 50%; cursor: pointer; outline: none !important; -webkit-user-select: none; user-select: none; -webkit-transition: background-color 120ms ease; transition: background-color 120ms ease;}
.swiper-btn.prev{-webkit-transform: scaleX(-1); transform: scaleX(-1);}
.swiper-btn.swiper-button-disabled{background-color: #ccc; pointer-events: none;}
.swiper-btn:hover{background-color: var(--red);}
.swiper .swiper-pagination{position: static; width: 150px; height: 3px; margin-top: 1.4rem; background: #ccc;}
.swiper .swiper-pagination>span{background: var(--black);}
.band-container .swiper-header{border-color: #ccc;}
@media only screen and (max-width: 900px){
.swiper{margin-right: -20px;}
.swiper-wrapper .swiper-slide{margin-right: 20px !important;}
.swiper-btn{display: none;}
}
@media only screen and (max-width: 600px){
.swiper .swiper-pagination{width: calc(100% - 20px);}
}



/* swiper cards */



.swiper-slide a{display: block;}
.swiper-slide a span{display: block;}
.swiper-slide.tile{min-width: 260px;}
.swiper-slide.tile.landscape{width: 34%; min-width: 300px;}
.swiper-slide.tile a .mark{z-index: 4; position: absolute; top: 20px; right: 20px; display: table; padding: 10px; padding-bottom: 8px; background: #fff; -webkit-border-radius: 4px; border-radius: 4px; font-size: 1.0em; line-height: 1.0em; font-weight: 500;}
.swiper-slide.tile a .head{z-index: 2; position: relative; width: 100%; padding-bottom: 120%;}
.swiper-slide.tile.landscape a .head{padding-bottom: 60%;}
.swiper-slide.tile a .head>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--grey); overflow: hidden; -webkit-clip-path: inset(0px round 16px 16px 16px 16px); clip-path: inset(0px round 16px 16px 16px 16px); -webkit-transition: clip-path 200ms ease; transition: clip-path 200ms ease;}
.swiper-slide.tile a .head>div img{-webkit-transition: transform 200ms ease; transition: transform 200ms ease;}
.swiper-slide.tile a.is-video .head>div img{z-index: 1; position: relative;}
.swiper-slide.tile a.is-video .head>div:before{content: ''; z-index: 2; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-image: url(../icon/play-w.svg); background-repeat: no-repeat; background-position: center center; background-size: 20% auto;}
.swiper-slide.tile a .core{padding: 15px 0 0 0; overflow: hidden;}
.swiper-slide.tile a .core span.name{font-size: 1.2em; line-height: 1.3em; font-weight: 500; overflow-wrap: break-word;}
.swiper-slide.tile a .core span.name-sub{margin-top: 6px; font-family: 'Baskerville', serif; font-size: 1.1em; line-height: 1.2em; font-weight: 400; font-style: italic;}
.swiper-slide.tile.inner a .head>div img{z-index: 1; position: relative;}
.swiper-slide.tile.inner a .head>div:before{z-index: 2; position: absolute; content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);}
.swiper-slide.tile.inner a .core{z-index: 6; position: absolute; left: 0; bottom: 0; width: 100%; padding: 20px; color: #fff;}
.swiper-slide.tile.inner a .core span.name{font-size: 1.3em; letter-spacing: 0.02em; text-decoration: underline;}
@media only screen and (min-width: 900px){
.swiper-slide.tile a:hover .head>div{-webkit-clip-path: inset(0px round 36px 36px 36px 36px); clip-path: inset(0px round 36px 36px 36px 36px);}
.swiper-slide.tile a:hover .head>div img{-webkit-transform: scale(1.05,1.05); transform: scale(1.05,1.05);}
}
@media only screen and (max-width: 600px){
.swiper-slide.tile{min-width: 220px;}
.swiper-slide.tile.landscape{min-width: 260px;}
}



/* node */



.band-container{background: var(--grey); -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; overflow: hidden;}
.band{max-width: 1600px; margin: 0 auto; padding: 0 100px;}
.band.band-node{max-width: 1000px; padding: 0 20px;}
.band.band-node h1{margin-top: 4rem;}
.node-head-container{z-index: 0; position: relative; margin: -20px 0;}
.node-head-container .close{z-index: 4; position: absolute; left: 0; bottom: -1px; background: #fff; width: 100%; height: 21px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px;}
.node-head-container[data-uri]:not(.loaded):not(.failed) .node-head:after{z-index: 8; position: absolute; top: 50%; left: 50%; content: ''; display: block; width: 32px; height: 32px; margin: -20px 0 0 -20px; -webkit-border-radius: 50%; border-radius: 50%; border: 4px solid rgba(255,255,255,0.3); border-top: 4px solid #fff; -webkit-animation: spin 1.2s infinite cubic-bezier(0.8,0.4,0.4,0.8); animation: spin 1.2s infinite cubic-bezier(0.8,0.4,0.4,0.8);}
.node-head-container.loaded .inner,.node-head-container.loaded .outer{opacity: 1 !important;}
.node-head{z-index: 2; position: relative; overflow: hidden; padding: 20px 0; background: var(--black);}
.node-head:before{z-index: 6; position: absolute; left: 0; bottom: 0; content: ''; display: block; width: 100%; height: 60px; background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);}
.node-head .inner{z-index: 4; position: relative; max-width: 960px; margin: 0 auto; opacity: 0; -webkit-transition: opacity 200ms ease-out; transition: opacity 200ms ease-out;}
.node-head .inner>div{position: relative; width: 100%;}
.node-head .inner>div.reg{padding-bottom: 60%;}
.node-head .inner>div.mob{padding-bottom: 100%; display: none;}
.node-head .inner>div>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.node-head .outer{z-index: 2; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; -webkit-filter: blur(40px); filter: blur(40px); opacity: 0; -webkit-transition: opacity 300ms ease-out; transition: opacity 300ms ease-out;}
.tv-button{z-index: 5; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.tv-button>a{position: relative; display: block; width: 100%; max-width: 960px; height: 100%; margin: 0 auto; background-image: url(../icon/play-w.svg); background-repeat: no-repeat; background-position: center center; background-size: 14% auto; opacity: 0.8; -webkit-transition: opacity 120ms ease; transition: opacity 120ms ease;}
.tv-button>a:hover{opacity: 1;}
.section-header{display: table; width: 100%; border-top: 1px solid #ddd;}
.section-header>div{display: table-cell; vertical-align: middle;}
.section-header>div:last-child{text-align: right;}
.partner-bar{overflow: hidden;}
.partner-bar .logo{display: inline-block; float: left; margin-right: 16px;}
.partner-bar .logo>img{display: block; height: 60px;}
.fold{margin: 2rem 0; border-top: 2px solid var(--black); border-bottom: 2px solid var(--black); overflow: hidden;}
.fold>a{position: relative; display: block; padding: 12px 0; font-size: 1.4em; line-height: 1.4em; font-weight: 600;}
.fold>a:before{position: absolute; top: 50%; right: 0; content: ''; display: block; width: 16px; height: 16px; margin-top: -8px; background-image: url(../icon/plus.svg); background-repeat: no-repeat; background-position: center center; background-size: contain; -webkit-transition: transform 200ms ease; transition: transform 200ms ease;}
.fold>a.on:before{-webkit-transform: rotate(135deg); transform: rotate(135deg);}
.fold>a.on,.fold>a:hover{text-decoration: underline;}
.fold div.fold-toggle{padding-right: 6%; overflow-y: hidden; -webkit-transition: max-height 0.5s ease-in-out; transition: max-height 0.5s ease-in-out;}
.fold div.fold-toggle-hidden{max-height: 0;}
.fold p{font-size: 1.0em; line-height: 1.4em;}
.node-slide{padding: 20px 0; border-bottom: 1px solid #ddd; overflow: hidden;}
.node-slide .video-container,.node-slide img{margin: 2rem 0; max-width: 700px;}
.node-slide .video-container>div{position: relative; width: 100%; padding-bottom: 56.25%;}
.node-slide .video-container>div>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--black);}
.node-slide .video-container video{width: 100% !important; height: 100% !important;}
@-webkit-keyframes spin{
100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
100%{transform: rotate(360deg);}
}
@media only screen and (max-width:1200px){
.band{padding: 0 20px;}
}
@media only screen and (max-width:1000px){
.node-head{padding: 0;}
}
@media only screen and (max-width: 600px){
.node-head .inner>div{display: none;}
.node-head .inner>div.mob{display: block;}
}



/* card */



.view-card{margin: 0 -15px; overflow: hidden; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: stretch; align-items: stretch;}
.view-card .card{width: 50%; padding: 0 15px;}
.view-card .card:nth-child(odd){border-right: 1px solid #ddd;}
.card>a{display: block;}
.card>a .core{padding: 18px 10% 18px 0; border-bottom: 1px solid #ddd; font-size: 1.2em; line-height: 1.4em; font-weight: 500;}
.card>a .head{position: relative; width: 100%; padding-bottom: 60%; -webkit-clip-path: inset(0px round 16px 16px 16px 16px); clip-path: inset(0px round 16px 16px 16px 16px); -webkit-transition: clip-path 200ms ease; transition: clip-path 200ms ease;}
.card>a .head:before{z-index: 4; position: absolute; content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 40%);}
.card>a .head>div{position: absolute;}
.card>a .head>div.inner{z-index: 6; left: 0; bottom: 0; width: 100%; padding: 30px 20px; overflow: hidden;}
.card>a .head>div.outer{z-index: 2; top: 0; left: 0; right: 0; bottom: 0; background: var(--grey);}
.card>a .head>div.outer img{-webkit-transition: transform 200ms ease; transition: transform 200ms ease;}
.card>a .head span{display: block; color: #fff;}
.card>a .head span.name{font-size: 1.8em; line-height: 1.2em; letter-spacing: 0.02em; font-weight: 500; text-decoration: underline; overflow-wrap: break-word;}
.card-list{margin-top: 12px; overflow: hidden;}
.card-list>a{display: table; width: 100%;}
.card-list>a>div{display: table-cell; vertical-align: middle;}
.card-list>a>div.head{width: 70px;}
.card-list>a>div.head .head-mini{position: relative; width: 100%; padding-bottom: 75%; -webkit-border-radius: 4px; border-radius: 4px; overflow: hidden;}
.card-list>a>div.head .head-mini>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--grey);}
.card-list>a>div.core{padding-left: 14px; word-break: break-word;}
.card-list>a span{display: block;}
.card-list>a span.name{padding-right: 10%; font-size: 1.0em; line-height: 1.3em; font-weight: 500; overflow-wrap: break-word;}
.card-list>a span.name-sub{margin-top: 4px; font-size: 0.9em; color: #666;}
.card-list>a:hover .core span.name{text-decoration: underline;}
@media only screen and (min-width: 900px){
.card>a:hover .head{-webkit-clip-path: inset(0px round 36px 36px 36px 36px); clip-path: inset(0px round 36px 36px 36px 36px);}
.card>a:hover .head>div.outer img{-webkit-transform: scale(1.05,1.05); transform: scale(1.05,1.05);}
}
@media only screen and (max-width: 900px){
.view-card .card{width: 100%; border: none !important;}
.view-card .card:not(:last-child){margin-bottom: 4rem;}
.card>a .head span.name{font-size: 1.6em;}
}
@media only screen and (max-width: 600px){
.card>a .head:before{background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);}
}



/* series */



.series-list-container{margin-top: 4rem;}
.series-list{padding-bottom: 12px;}
.series-list:not(:last-child){margin-bottom: 18px; border-bottom: 1px solid #ddd;}
.series-list>a{display: block;}
.series-list>a>div{display: table; width: 100%;}
.series-list>a>div>div{display: table-cell; vertical-align: middle;}
.series-list>a>div>div.head{position: relative; width: 240px; padding: 6px 0 0 10px;}
.series-list>a>div>div.core{padding-left: 20px;}
.series-list>a div.head-mini{position: relative; z-index: 2; width: 100%; padding-bottom: 60%;}
.series-list>a div.head-mini>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--grey); overflow: hidden; -webkit-clip-path: inset(0px round 16px 16px 16px 16px); clip-path: inset(0px round 16px 16px 16px 16px); -webkit-transition: clip-path 200ms ease; transition: clip-path 200ms ease;}
.series-list>a div.num-circ{position: absolute; z-index: 4; top: -6px; left: 0; display: inline-block; width: 2em; height: 2em; line-height: 2em; background: var(--red); -webkit-border-radius: 50%; border-radius: 50%; font-size: 1.4em; font-weight: 500; text-align: center; color: #fff;}
.series-list>a span{display: block;}
.series-list>a span.name{font-size: 1.4em; line-height: 1.3em; font-weight: 500;}
.series-list>a span.name-sub{margin-top: 6px; font-family: 'Baskerville', serif; font-size: 1.1em; line-height: 1.2em; font-weight: 400; font-style: italic;}
@media only screen and (min-width: 900px){
.series-list>a:hover div.head-mini>div{-webkit-clip-path: inset(0px round 36px 36px 36px 36px); clip-path: inset(0px round 36px 36px 36px 36px);}
}
@media only screen and (max-width: 600px){
.series-list>a>div>div.head{width: 140px;}
.series-list>a>div>div.core{padding-left: 14px;}
.series-list>a span.name{font-size: 1.3em;}
}



/* node tabs */



.node-tabs{position: relative; z-index: 16; margin-top: -20px; padding-top: 20px; background: var(--yellow); overflow: hidden;}
.node-tabs-inner{display: table; width: 100%;}
.node-tabs-inner>div{display: table-cell; padding: 16px 0 14px 0; vertical-align: middle;}
.node-tabs-inner>div.node-revision{text-align: right; font-size: 0.9em;}
.node-tabs ul{margin: 0; padding: 0; list-style: none;}
.node-tabs ul>li{display: inline-block;}
.node-tabs ul>li>a{display: block; margin-right: 10px; font-size: 1.0em; font-weight: 400; color: var(--black); text-decoration: none;}
.node-tabs ul>li>a.is-active{font-weight: 500;}
.node-tabs ul>li>a:not(.is-active):hover{text-decoration: underline;}
@media only screen and (max-width: 900px){
.node-tabs-inner{display: block;}
.node-tabs-inner>div{display: block; text-align: left !important;}
}



/* leaflet map */



.node-map{margin: 4rem 0;}
.node-map .map-container{position: relative; width: 100%; padding-bottom: 50%;}
.node-map .map-container>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #eee; overflow: hidden; -webkit-border-radius: 8px; border-radius: 8px;}
.geo-user-btn{display: inline-block; padding: 12px 16px 10px 34px; background-color: var(--black); background-image: url(../icon/gps-w.svg); background-repeat: no-repeat; background-position: left 12px center; background-size: 16px auto; -webkit-border-radius: 100px; border-radius: 100px; line-height: 1.0em; font-weight: 500; color: #fff; -webkit-transition: background-color 120ms ease; transition: background-color 120ms ease;}
.geo-user-btn:hover{background-color: var(--red);}
.map{z-index: 4; width: 100%; height: 100%;}
.map .leaflet-right .leaflet-control{margin-right: 20px;}
.map .leaflet-top .leaflet-control{margin-top: 20px;}
.utm-marker{width: 24px; height: 24px; background: var(--red); -webkit-border-radius: 50%; border-radius: 50%;}
.utm-marker-user{width: 24px; height: 24px; background: #006ee6; -webkit-border-radius: 50%; border-radius: 50%;}
.utm-marker-user:before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #006ee6; -webkit-border-radius: 50%; border-radius: 50%; opacity: 0.8; -webkit-animation: pulse 1.4s infinite ease-out; animation: pulse 1.4s infinite ease-out;}
.leaflet-popup-content-wrapper{padding: 0; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 30%); box-shadow: 0 3px 10px rgb(0 0 0 / 30%);}
.leaflet-popup-content{margin: 0; padding: 20px;}
.leaflet-popup-content>a{display: block; font-family: 'Graphik', sans-serif; font-size: 16px; line-height: 1.2em; color: var(--black);}
.leaflet-popup-content>a span{display: block;}
.leaflet-popup-content>a span.name{line-height: 1.4em; font-weight: 500;}
.leaflet-popup-content>a span.name-sub{margin-top: 4px; font-size: 0.8em;}
.leaflet-popup-tip-container{margin-top: -1px;}
.leaflet-popup-tip{-webkit-box-shadow: none; box-shadow: none;}
@-webkit-keyframes pulse{
0%{opacity: 0.8; -webkit-transform: scale(1,1);} 80%{opacity: 0; -webkit-transform: scale(1.8,1.8);} 100%{opacity: 0; -webkit-transform: scale(1.8,1.8);}
}
@keyframes pulse{
0%{opacity: 0.8; transform: scale(1,1);} 80%{opacity: 0; transform: scale(1.8,1.8);} 100%{opacity: 0; transform: scale(1.8,1.8);}
}
@media only screen and (max-width: 600px){
.node-map .map-container{padding-bottom: 90%;}
}



/* block map index */



.block-map{display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: stretch; align-items: stretch;}
.block-map>div{display: inline-block;}
.block-map .map-view{-webkit-flex: 1; flex: 1;}
.block-map .map-list{width: 44%; min-width: 500px; max-width: 700px; padding: 1rem 40px 4rem 40px;}
.block-map .map-list .index-section{border-bottom: 1px solid var(--black);}
.block-map .map-list .index-section.hide{display: none;}
.block-map .map-list .index-section h2{margin-bottom: 1rem;}
.block-map .map-container{position: sticky; top: 0; height: 100vh;}
.block-map .map-container>div{height: 100%;}
.index{margin-bottom: 12px; padding-top: 12px; border-top: 1px solid #ddd;}
.index.hide{display: none;}
.index>div{display: table; width: 100%;}
.index>div>div{display: table-cell; vertical-align: middle;}
.index .head{width: 80px;}
.index .head .head-mini{position: relative; width: 100%; padding-bottom: 75%; -webkit-border-radius: 4px; border-radius: 4px; overflow: hidden;}
.index .head .head-mini>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--grey);}
.index .core{padding: 0 20px 0 14px; word-break: break-word;}
.index .core a{display: block; color: var(--black);}
.index .core span{display: block;}
.index .core span.name{font-size: 1.1em; line-height: 1.2em; font-weight: 500; overflow-wrap: break-word;}
.index .core span.name-sub{margin-top: 4px; font-size: 0.9em; color: #666;}
.index .core a:hover span.name{text-decoration: underline;}
.index .link{width: 40px;}
.index .link a{display: block; width: 100%; height: 40px; background-image: url(../icon/arrow.svg); background-repeat: no-repeat; background-position: right center; background-size: 60% auto;}
.index-no-result{display: none; color: #666;}
.index-no-result.show{display: block;}
@media only screen and (max-width:1200px){
.index .link{width: 30px;}
.index .link a{height: 30px;}
}
@media only screen and (max-width: 900px){
.block-map{display: block; margin-top: -20px;}
.block-map>div{display: block; width: 100% !important;}
.block-map .map-view{z-index: 14; position: sticky; top: 0; -webkit-flex: none; flex: none;}
.block-map .map-list{z-index: 12; position: relative; min-width: 0; max-width: none; padding-left: 20px; padding-right: 20px;}
.block-map .map-container{position: static; height: 40vh;}
.block-map .map .leaflet-top .leaflet-control{margin-top: 40px;}
}
@media only screen and (max-width: 600px){
.index .core span.name{text-decoration: underline;}
}



/* block header */



.block-header{position: relative; z-index: -2; margin: -20px 0; background-color: var(--black); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.block-header:before{z-index: 4; position: absolute; left: 0; bottom: -1px; content: ''; display: block; width: 100%; height: 21px; background: #fff; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px;}
.block-header>div{z-index: 2; position: relative; width: 100%; height: 100%; background: rgba(0,0,0,1); -webkit-transition: background 400ms ease; transition: background 400ms ease;}
.block-header>div>div{max-width: 1000px; margin: 0 auto; padding: 8rem 20px; text-align: center; color: #fff;}
.block-header>div>div>*{margin-left: auto; margin-right: auto;}
.block-header.loaded>div{background: rgba(0,0,0,0.6);}
.block-header h1{position: relative; margin-bottom: 3rem; color: var(--gold); font-size: 6.0em; line-height: 1.0em;}
.block-header h1:before{position: absolute; left: 50%; bottom: -1rem; content: ''; display: block; width: 30%; max-width: 200px; height: 1px; background: var(--gold); -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.block-header h3{color: #fff;}
.block-header a.a-btn{background: #fff !important; color: var(--black);}
.block-header p{font-size: 1.3em; line-height: 1.4em;}
.block-header span.label{display: table; margin: 0 auto; padding: 10px 20px 8px 20px; border: 2px solid var(--gold); -webkit-border-radius: 100px; border-radius: 100px; font-size: 1.3em; line-height: 1.4em; letter-spacing: 0.04em; font-weight: 600; color: var(--gold); text-transform: uppercase;}
@media only screen and (max-width:1200px){
.block-header h1{font-size: 5.0em;}
}
@media only screen and (max-width: 900px){
.block-header h1{font-size: 4.0em;}
}
@media only screen and (max-width: 600px){
.block-header h1{font-size: 3.0em;}
}



/* misc blocks */



.block-ck,.block-photo,.block-embed{margin: 4rem 0; padding: 0 20px;}
.block-ck>div,.block-photo>div,.block-embed>div{max-width: 760px; margin: 0 auto;}
.block-ck ul{list-style: disc; list-style-position: inside; max-width: 800px; margin: 1.6rem 0; padding: 0;}
.block-ck ul>li{font-size: 1.2em; line-height: 1.4em;}
.block-photo div.caption{margin: 1rem 0 0 0;}
.block-embed iframe{width: 100% !important;}
.block-embed.ratio-fill-1 .embed-inner{position: relative; width: 100%; padding-bottom: 56.25%;}
.block-embed.ratio-fill-1 .embed-inner>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.block-embed.ratio-fill-1 .embed-inner>div>iframe{width: 100% !important; height: 100% !important; border: none;}
.fold .block-ck,.fold .block-photo,.fold .block-embed{margin: 2rem 0; padding: 0;}
.fold .block-ck>div,.fold .block-photo>div,.fold .block-embed>div{max-width: none; margin-left: 0;}
.block-location-new{margin: 4rem 0;}
.block-location-hot{margin: 4rem 0;}



/* pop story */



.overlay-pop-inner{width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;}
.overlay-pop-inner::-webkit-scrollbar{width: 0px; background: transparent;}
.overlay-pop-inner::-moz-scrollbar{width: 0px; background: transparent;}
.pop-end{z-index: 6; position: absolute; top: 0; right: 0; display: block; width: 80px; height: 80px; background-image: url(../icon/close-w.svg); background-repeat: no-repeat; background-position: center center; background-size: 40px auto;}
.swiper.swiper-story{position: relative; max-width: 700px; height: 100%; margin: 0 auto; background: #fff;}
.swiper.swiper-story .swiper-pagination{z-index: 8; position: absolute; top: 33px; left: 20px; right: 20px; width: 150px !important; margin: 0; background: rgba(255,255,255,0.4);}
.swiper.swiper-story .swiper-pagination>span{background: #fff;}
.swiper.swiper-story .swiper-container{height: 100%;}
.swiper.swiper-story .swiper-btn{z-index: 6; position: absolute; top: 32vh; display: block !important; margin: 0;}
.swiper.swiper-story .swiper-btn.prev{left: 20px; right: auto;}
.swiper.swiper-story .swiper-btn.next{right: 20px; left: auto;}
.swiper.swiper-story .swiper-slide{width: 100%; margin: 0 !important; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;}
.swiper.swiper-story .swiper-slide::-webkit-scrollbar{width: 0px; background: transparent;}
.swiper.swiper-story .swiper-slide::-moz-scrollbar{width: 0px; background: transparent;}
.swiper.swiper-story .swiper-slide .head{z-index: 6; position: sticky; top: 0; width: 100%; height: 75vh; background: var(--black);}
.swiper.swiper-story .swiper-slide .head>div{z-index: 2; position: relative; height: 100%; padding-bottom: 20px;}
.swiper.swiper-story .swiper-slide .head:before{z-index: 4; position: absolute; left: 0; bottom: 0; content: ''; display: block; width: 100%; height: 50px; background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); pointer-events: none;}
.swiper.swiper-story .swiper-slide .head:after{z-index: 6; position: absolute; left: 0; top: 0; content: ''; display: block; width: 100%; height: 70px; background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); pointer-events: none;}
.swiper.swiper-story .swiper-slide .head video{width: 100%; height: 100%; margin: 0 auto; object-fit: contain;}
.swiper.swiper-story .swiper-slide .head div.slide-load{position: relative; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: contain; opacity: 0; -webkit-transition: opacity 300ms ease; transition: opacity 300ms ease;}
.swiper.swiper-story .swiper-slide .head div.slide-load.loaded{opacity: 1;}
.swiper.swiper-story .swiper-slide .core{z-index: 8; position: relative; margin-top: -20px;}
.swiper.swiper-story .swiper-slide .core>div{z-index: 4; position: relative; padding: 20px; padding-bottom: 40px; background: #fff; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; overflow: hidden;}
.swiper.swiper-story .swiper-slide .core p{font-size: 1.0em; line-height: 1.4em;}
.swiper.swiper-story .swiper-slide .core p a{display: inline;}
.swiper.swiper-story .swiper-slide .core ul{list-style: disc; list-style-position: inside; max-width: 800px; margin: 1.6rem 0; padding: 0;}
.swiper.swiper-story .swiper-slide .core ul>li{font-size: 1.0em; line-height: 1.4em;}
.swiper.swiper-story .swiper-slide .core div.caption{margin: 0 0 2rem 0;}
.tv-watch{display: table; width: 100%; height: 100%;}
.tv-watch>div{display: table-cell; height: 100%; vertical-align: middle; text-align: center;}
.tv-watch-video{position: relative; width: 100%; padding-bottom: 56.25%;}
.tv-watch-video>div{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.tv-watch-video>div>iframe{width: 100% !important; height: 100% !important; border: none;}
.logged-in .overlay-pop-inner{padding-top: 28px;}
.logged-in .pop-end{top: 28px;}
@media only screen and (max-width: 900px){
.pop-end{width: 70px; height: 70px; background-size: 30px auto;}
.swiper.swiper-story .swiper-slide .core:before{z-index: 2; position: absolute; top: -12px; left: 50%; content: ''; display: block; width: 60px; height: 2px; margin-left: -30px; background: #fff; pointer-events: none;}
}



/* pop story edit bar */



.logged-in .overlay-pop-inner{position: relative;}
.logged-in .overlay-pop-inner .tabs-inline{position: fixed; z-index: 6; left: 0; bottom: 0; padding: 16px; background: var(--yellow); overflow: hidden;}
.logged-in .overlay-pop-inner .tabs-inline>a{display: inline-block; font-size: 1.0em; font-weight: 400; color: var(--black); text-decoration: none;}
.logged-in .overlay-pop-inner .tabs-inline>a:hover{text-decoration: underline;}
.logged-in .overlay-pop-inner .swiper.swiper-story{z-index: 4;}



/* system messages */



.messages{z-index: 60; position: fixed; left: 20px; right: 20px; bottom: 20px; max-width: 600px; padding: 16px 20px 14px 20px; background: var(--yellow); -webkit-border-radius: 4px; border-radius: 4px; font-size: 1.0em; line-height: 1.4em; -webkit-transition: opacity 120ms ease; transition: opacity 120ms ease;}
.messages.hide{pointer-events: none; opacity: 0;}
.messages div.messages__icon{display: none;}
.messages ul{margin: 0; padding: 0; list-style: none;}
.messages ul>li{display: block;}
.messages a{color: inherit; text-decoration: underline;}
.geo-fail{z-index: 70; position: fixed; left: 20px; right: 20px; bottom: 20px; max-width: 600px; padding: 16px 20px 14px 20px; background: var(--yellow); -webkit-border-radius: 4px; border-radius: 4px; font-size: 1.0em; line-height: 1.4em; -webkit-transition: opacity 120ms ease; transition: opacity 120ms ease; pointer-events: none; opacity: 0;}
.geo-fail.on{opacity: 1;}
.geo-fail>div{display: none;}
.geo-fail>div.on{display: block;}



/* forms */



.omni input[type=text],.omni input[type=email],.omni input[type=password]{width: 100%; max-width: 400px; margin: 0; margin-bottom: 20px; padding: 16px; padding-bottom: 14px; background: #ddd; border: none; -webkit-border-radius: 3px; border-radius: 3px; outline: none; font-family: 'Graphik', sans-serif; font-size: 1.0em; color: var(--black);}
.omni input[type=text]:focus,.omni input[type=email]:focus,.omni input[type=password]:focus{background: #ccc;}
.omni input[type=submit]{margin: 0; padding: 14px 18px; background: var(--black); border: none; outline: none; -webkit-border-radius: 0px; border-radius: 0px; font-family: 'Graphik', sans-serif; font-size: 1.2em; color: #fff; cursor: pointer;}
.omni input[type=submit]:hover{text-decoration: underline;}
.omni form label{display: block; margin-bottom: 6px;}
.omni form span.form-required{color: var(--red);}
.omni form div.description{display: none;}



/* misc */



.visually-hidden{display: none;}
.action-links{display: none;}
.unpublished{position: relative; z-index: 1; margin-top: -20px; padding: 12px; padding-top: 32px; background: var(--yellow); font-style: italic; text-align: center;}
.spacer{margin: 4rem 0;}
.caption{margin: 2rem 0 4rem 0; padding-left: 28px; background-image: url(../icon/camera.svg); background-repeat: no-repeat; background-position: left center; background-size: 18px auto; font-size: 0.8em; line-height: 1.5em; color: #888;}
.caption a{text-decoration: underline;}
.caption>div{padding-left: 10px; border-left: 1px solid #ccc;}
.caption>div>div:not(:first-child){margin-top: 4px;}
.caption-small{margin: 1rem 0 0 0; font-size: 0.8em; line-height: 1.5em; color: #888;}